li {
    display: inline-block;
    margin: 5px;
}
.color {
    color: red;
    font-weight: bold;
}
.year, .month {
    text-align: center;
}
.first {
    display: flex;
    justify-content: space-between;
}
ul {
    text-align: center;
}